.App footer {
  font-size: 1.4rem;
  text-align: center;
  color: white;
  margin: 2rem;
}

.App footer a {
  text-decoration: none;
  color: aquamarine;
}

.App .App-logo {
  max-width: 20rem;
  display: block;
  margin: 0 auto;
}

.App header {
  margin-top: 1.5rem;
}

.App h1 {
  font-size: 2rem;
  font-weight: bold;
}

.App h1,
h2 {
  color: white;
  text-align: center;
}

.App h2 {
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

.App h3 {
  font-size: 2.2rem;
  font-weight: bold;
}

@media (min-width: 800px) {
  .App .container {
    width: 60%;
  }

  .App footer {
    font-size: 1.6rem;
  }

  .App-logo {
    max-width: 30rem;
  }

  .App h1 {
    font-size: 3.2rem;
  }

  .App h2 {
    font-size: 1.8rem;
  }

  .App h3 {
    font-size: 2.2rem;
  }
}
