.Dictionary .form-control {
  font-size: 1.4rem;
}

.Weather .searcher {
  margin-bottom: 2rem;
  margin-top: 0.4rem;
}

.button {
  background-color: rgb(4, 89, 247);
  border: none;
  border-radius: 5rem;
  box-shadow: 0 0.2rem 0.2rem rgb(0 0 0 / 10%);
  color: white;
  font-size: 1.2rem;
  font-weight: bolder;
  margin-left: 0.7rem;
  padding: 0.5rem 2rem;
  transition: all 500ms ease;
}

.Dictionary form {
  margin-bottom: 2rem;
  margin-top: 0.4rem;
}

@media (min-width: 800px) {
  .Weather {
    max-width: 85%;
    padding: 2rem;
  }
  .Dictionary .form-control {
    font-size: 1.6rem;
  }

  .button {
    font-size: 1.6rem;
  }
}
