.Examples span {
  font-size: 1.4rem;
  font-weight: bold;
}

.Examples .example-text {
  font-weight: normal;
  font-style: italic;
}

@media (min-width: 800px) {
  .Examples .example-text {
    font-size: 1.6rem;
  }
}
