* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background: radial-gradient(
    circle at 10% 20%,
    rgba(77, 97, 252, 0.63) 0%,
    rgb(77, 97, 252) 90%
  );
}
