.Synonyms span {
  font-size: 1.4rem;
  font-weight: bold;
}

.Synonyms button {
  background-color: rgb(4, 211, 247);
  border: none;
  border-radius: 2rem;
  color: white;
  font-size: 1.2rem;
  margin: 0.2rem;
  margin-top: 0.5rem;
  padding: 0.5rem 2rem;
}

.Synonyms button:hover {
  opacity: 20%;
  transition: all 500ms ease;
}
